body {
  background-color: rgb(209, 227, 233);
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

.active {
  background: rgb(74, 74, 143);
  color: rgb(255, 255, 255);
}
